<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Lista de Tarefas</title>
  <link rel="stylesheet" href="/css/styles.css"> </head>
<body>
  <header>
    <h1>Lista de Tarefas</h1>
    <nav>
      <a href="/tasks">Ver Todas</a> |
      <a href="/tasks/create">Criar Nova Tarefa</a>
    </nav>
  </header>
  <hr>
  <main>
    {{{ body }}}
  </main>
</body>
</html>